<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        tr, th {
            border: 1px solid black;
            margin: 0px;
            padding: 10px 20px;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
                <th>아이디</th>
                <th>비밀번호</th>
                <th>삭제</th>
                <th>수정</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <th th:text="${user.id}"></th>
                <th th:text="${user.name}"></th>
                <th th:text="${user.userId}"></th>
                <th th:text="${user.userPw}"></th>
                <th>
                    <form th:action="@{/users/delete/{id}(id=${user.id})}" class="DELETE Method" method="post">
                        <!-- Spring HiddenHttpMethodFilter를 통해 DELETE 요청으로 변환 -->
                        <input type="hidden" name="_method" value="delete">

                        <button type="submit">삭제</button>
                    </form>
                </th>
                <th>
                    <form action="/users/update" class="PUT Method" method="post">
                        <!-- Spring HiddenHttpMethodFilter를 통해 PUT 요청으로 변환 -->
                        <input type="hidden" name="_method" value="put">

                        <input type="hidden" id="id" name="id" th:value="${user.id}">
                        <div class="form-group">
                            <label for="name">이름</label>
                            <input type="text" id="name" name="name" placeholder="이름을 입력" required>
                        </div>
                        <div class="form-group">
                            <label for="name">아이디</label>
                            <input type="text" id="userId" name="userId" placeholder="아이디를 입력" required>
                        </div>
                        <div class="form-group">
                            <label for="name">비밀번호</label>
                            <input type="text" id="userPw" name="userPw" placeholder="비밀번호를 입력" required>
                        </div>
                        <button type="submit">제출</button>
                    </form>
                </th>
            </tr>
            <tr>
                <th>추가</th>
                <form action="/users/create" method="post">
                    <th><input type="text" id="name" name="name" placeholder="이름을 입력" required></th>
                    <th><input type="text" id="userId" name="userId" placeholder="아이디를 입력" required></th>
                    <th><input type="text" id="userPw" name="userPw" placeholder="비밀번호를 입력" required></th>
                    <th></th>
                    <th><button type="submit">제출</button></th>
                </form>
            </tr>
        </tbody>
    </table>
</body>
</html>